* {
    font-family: 'Fraunces', serif;
    color: #fff;/*fondo de las letras*/
}

body {/*color de fondo (azul*/
    margin: 0;
    background-color: #224870;
}

.container {/*darle forma de la calculadora*/
    display: flex;
    justify-content: center;/*contenido en el centro*/
    align-items: center;
    height: 100vh;/*la altura*/
}

.calculadora {/*estilos ala calculadora*/
    display: grid;
    grid-template-columns: repeat(4, 75px);/*cuatro columnas se repitan asi abajo el tamaño*/
    grid-template-rows: 160px repeat(5, 75px);/*alto total del display primera fila*/
    background-color: #00916e;/*color de los cuadros color verde*/
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;/*sombra de los pixeles y color*/
}

button {/* botones */
    cursor: pointer;
    margin: 5px;/*margen*/
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;/*borde*/
    background-color: #00916e;/*color de los botones*/
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;/* se pone el color y las psmbra y el sentido*/
}

button:active {/*cambio del color cuando intractua con los botones*/
    background-color: #006f54;
}

button:focus {/*es para los botones */
    outline: none;
}

.col-2 {/* se estira la columna 2*/
    grid-column: span 2;
}

.display {/* ancho total de donde se muestran los resultados*/
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;/*margen que tenga mas*/
    flex-direction: column;
    align-items: flex-end;/* a la derecha*/
    background-color: #363636;/* color mas oscuro del cuadro*/
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;/*separar los valores*/
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;/*profundidad al display*/
}

#valor-actual {/* tamaño de los números arriba*/
    font-size: 1.5em;
}

#valor-anterior {/* tamaño del número de abajo*/
    font-size: 2em;
}